@font-face{
    font-family: 'Poppins-Bold':
    src: local('CustomFont1Name'),
         url('./fonts/CustomFont1Name.woff') format('woff'),
         url('./fonts/CustomFont1Name.woff2') format('woff2');
}