/* @import url('https://fonts.googleapis.com/css?family=Poppins'); */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins-Bold'), url(./fonts/Poppins-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'), url(./fonts/Poppins-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Light';
  src: local('Poppins-Light'), url(./fonts/Poppins-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Medium';
  src: local('Poppins-Medium'), url(./fonts/Poppins-Medium.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Poppins-Regular', cursive;
}

.lang-btn-wrapper {
  position: absolute;
  right: 9rem;
  top: .8rem;
  background: #295a72;
  padding: 5px;
  border-radius: 15px;
  width: 100px;
  height: 41px;
}

.lang{
  background-color: transparent;
  border: none;
  width: 60px
}
.lang > option {
  color: #295a72;
}
.lang:focus{
  border: none;
  outline: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
